@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --buttonText: 1.25vw;
  --primaryColor: #1b1b87;
  --shadowButton: 1px 12px 38px 2px rgba(27, 27, 135, 0.2);
  --secondaryDark: #3f3f3f;
  --secondaryLight: #e4e4e4;
  --bodyCopy: 1.2vw;
  --lineHeight: 1.8em;
  --shadow: 2px 4px 23px rgba(0, 0, 0, 0.2);
  --shadowSoMe: 1px 12px 38px 2px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: "montserrat";
}

a {
  color: white;
  text-decoration: none;
  font-family: "karla";
  font-size: var(--bodyCopy);
  display: flex;
  align-items: center;
}

.hoverLineActive {
  display: block;
  width: 1vw;
  height: 0.15vw;
  background-color: white;
  margin-right: 0.5vw;
}
.topNavItem {
  padding-right: 1.9vw;
}
.bold {
  font-weight: 600;
}

.bigger {
  transform: scale(1.05);
}
.mrgn {
  margin: 0vw 10.417vw;
}

#logo {
  padding: 0;
}

#portrait {
  max-width: 100%;
  position: absolute;
}
header {
  background-size: cover;
  background-image: url(assets/bgheader3d.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
#navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 2.656vw;
  position: fixed;
  top: 0;
  width: calc(100vw - 2 * 10.417vw);
  z-index: 999;
}

.blueT {
  font-size: 2.53vw;
  font-family: "karla";
  font-weight: 300;
  color: #1b1b87;
  margin: 0;
}
#menuItems > ul {
  display: flex;
  list-style: none;
}

#menuItems {
  align-items: center;
}

#menuItems > ul > li {
  display: flex;
  list-style: none;
  color: white;
  text-decoration: none;
}
li {
  text-decoration: none;
}

#titleHeader {
  margin-top: 18vw;
}

.invert {
  background-color: rgba(250, 250, 250, 0.8);

  margin: 0vw -10.417vw 0vw -10.417vw !important;
  width: 100vw !important;
}
.invert > #menuItems > ul > li > a {
  color: var(--primaryColor) !important;
}

.invert > #menuItems {
  margin-right: 10.417vw !important;
  margin-top: -1.8vw;
}

.invert > a {
  margin-left: 10.417vw !important;
  margin-top: -2vw;
  padding-bottom: 0.8vw;
}

#headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#some {
  margin: 5vw -9vw 0vw;
}

#some > a {
  padding: 0.5vw;
}

#some > a > img {
  width: 65%;
  box-shadow: var(--shadowSoMe);
  padding: 0;
}
h1 {
  font-size: 4.375vw;
  width: 50vw;
  margin: 1vw 0vw 3vw;
}

/*/////ABOUT ME*/

#aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #dcf2f7;
}

#aboutme_bg {
  background-color: #dcf2f7;
  height: 100vh;
}

#bigText {
  text-align: center;
  font-family: "montserrat";
  font-weight: bold;
  font-size: 2.813vw;
}
#addAboutme {
  text-align: center;
  margin-bottom: 9vw;
  width: 60vw;
  color: var(--secondaryDark);
  font-size: calc(1.2 * var(--bodyCopy));
  font-family: "karla";
  font-weight: 300;
  line-height: var(--lineHeight);
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.906vw;
  position: absolute;
  top: 42vw;
}
#aboutme > .blueT {
  margin-top: 9vw;
  margin-bottom: -1vw;
}
.card > h3,
p,
img {
  padding: 0vw 2.8vw;
}

.icon {
  margin-top: 4vw;
  width: 17%;
}

.cardText {
  margin-bottom: 9.3vw;
  color: var(--secondaryLight);
  font-size: var(--bodyCopy);
  font-family: "karla";
  font-weight: 300;
  line-height: var(--lineHeight);
}
.card > h3 {
  font-size: 2.083vw;
  font-weight: 600;
  color: white;
}
.card {
  width: 22.604vw;
  height: 37.031vw;
  box-shadow: var(--shadow);
}
#card1 {
  background-image: url(assets/smallrect1.svg);
  background-size: cover;
  border-radius: 2.083vw;
}

#card2 {
  background-image: url(assets/smallrect2.svg);
  background-size: cover;
  border-radius: 2.083vw;
}

#card3 {
  background-image: url(assets/smallrect3.svg);
  background-size: cover;
  border-radius: 2.083vw;
}

/*/ ////MYWORK*/
h2 {
  display: flex;
  align-items: center;
}

.line {
  display: block;
  width: 6vw;
  height: 0.26vw;
  border-radius: 20px;
  margin-right: 2vw;
  background-color: blue;
}
#portfolio {
  margin-top: 40vw;
}

h2 {
  font-size: 4.375vw;
}

article > p {
  margin-top: -2vw;
  padding: 0vw;
  width: 45vw;
  color: var(--secondaryDark);
  font-size: var(--bodyCopy);
  font-family: "karla";
  font-weight: 300;
  line-height: var(--lineHeight);
}

#worksGrid {
  display: grid;
  grid-template-columns: 1fr;
}

#worksGrid > img {
  max-width: 80%;
  padding: 0;
  margin: 3vw 0vw;
}

.right {
  justify-self: right;
  margin-right: -1.5vw !important;
}

.left {
  justify-self: left;
  margin-left: -1.5vw !important;
}
/*/ ////INNSTAGRAM*/

#instagram_bg {
  background-color: #dcf2f7;
  height: 45.208vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
}
#instagram {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#igCta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#igCta > h2 {
  text-align: center;
}

#posts {
  display: flex;
  margin-left: -1vw;
}

#leftPosts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2vw;
}

#rightPosts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -10vw;
}
#leftUp {
  width: 95%;
  padding: 0;
  margin-bottom: 2vw;
  margin-top: -5vw;
  box-shadow: var(--shadow);
  border-radius: 1.406vw;
}

#leftBottom {
  width: 76%;
  padding: 0;
  box-shadow: var(--shadow);
  border-radius: 1.406vw;
}

#rightUp {
  width: 76%;
  padding: 0;
  margin-bottom: 2vw;
  box-shadow: var(--shadow);
  border-radius: 1.406vw;
}

#rightBottom {
  width: 91%;
  padding: 0;
  box-shadow: var(--shadow);
  border-radius: 1.406vw;
}

/*/ ////FOOTER*/

footer {
  background-color: #1b1b87;
  color: white;
  min-height: 100vh;
  position: relative;
  z-index: 1000;
}
.sLine {
  width: 6vw;
  height: 0.26vw;
  background-color: white;
  border-radius: 20px;
  margin-top: 2.5vw;
}

#up {
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
  grid-column-gap: 2.083vw;
  padding-top: 10vw;
  padding-bottom: 8vw;
}

#down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4vw;
  padding-top: 2vw;
  margin: 0vw -3vw;
  border-top: 1px solid #f3f3f3;
  font-family: "karla";
}

#down > p {
  padding: 0;
  margin-left: 3vw;
  font-size: var(--bodyCopy);
  color: var(--secondaryLight);
}

#down > a {
  margin-right: 3vw;
  color: var(--secondaryLight);
}
#footerHeading {
  padding: 0;
  margin: 0;
}

#right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
#right > ul {
  list-style: none;
}

#right > ul > li > a {
  color: white;
  text-decoration: none;
  margin-top: 1vw;
}

#footerHead3 {
  font-size: 2.813vw;
  font-weight: 500;
  margin-top: 2vw;
  margin-bottom: 5vw;
}

.button {
  background-color: var(--primaryColor);
  padding: 1.1vw 4.2vw;
  border-radius: 1.406vw;
  border: 3px solid white;
  font-family: "karla";
  font-size: var(--buttonText);
  color: white;
  box-shadow: var(--shadowButton);
  display: inline-block !important;
}

.whitebgButton {
  background-color: white;
  color: var(--primaryColor);
  margin-right: 1vw;
  display: inline-block !important;
}

.noborderButton {
  border: 3px solid var(--primaryColor);
  display: inline-block !important;
}

.bottomNavItem {
  padding-bottom: 1vw;
}

#arrow {
  padding: 0.5vw !important;
}

#someFooter {
  display: flex;
  margin: 0vw -0.5vw -0.5vw;
}

#someFooter > a > img {
  padding: 0.5vw;
  max-width: 70%;
}

@keyframes animation {
  to {
    transform: translateY(30vw);
  }
}
